body{
background-color: black;
color: white}
.h1v{


    text-align: center;
    position:absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 5%);


}
h1{
    text-align: center;
}
h2{

text-align: center;

}
p{



    text-align: justify;
}

.container{
    background: white;
    
    position: relative;
}

.elemento{

position:absolute;
top: 70%;
left: 52%;
transform: translate(-50%, 13%);
}





.nex{

text-align: center;
position:absolute;
top: 170%;
left: 48%;
transform: translate(-50%, 5%);
}

.foo{

    position:absolute;
    top: 180%;

    transform: translate(-5%, 5%);

}
.text1{

text-align: right;
position:absolute;
top: 12%;
left: 95%;
}


.text2{

    text-align: left;
    position:absolute;
    top: 12%;
   

}
